* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}
html, body {
    height: 100vh;
    width: 100vw;
    display: flex;
    margin: 0;
}

.main{
    width: 100vw;
    height: 100vh;
}
.flex-container {
    display: flex;
    width: 100%;
    height: 100%;

}

#map {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: white;
    height: 100vh; 
    width: 100%;
    z-index: 1;
    
}
#controls {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: rgb(0, 0, 0);
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.5);
    z-index: 99;
    padding: 3%;
    background-color: rgb(255, 255, 255);   
}

#titlesection {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: flex-start;
}

#maintitle {
    font-size: 40px;
    color: rgb(0, 0, 0);
    padding-bottom: 10px;
}

#introduction {
    font-size: 14px;
    color: rgb(0, 0, 0);
    padding-bottom: 10px;
}

#projectdetails {
    display: flex;
    flex-direction: row;  
    justify-content: flex-start; 
    width: 100%; 
}

#projectname_input {
    flex: 1; /* This allows it to take equal space */
}

#buttons {
    flex: 1;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start; 
    align-items: flex-end; 
}

#buttons button {
    padding: 10px;
    margin: 5px;
}

.hidden {
    display: none !important;
}

#selectioninfo{
    width: 100%;
    font-size: 11px;
    margin: 1%;
}


#selectioninfo li {
    list-style-type: none;
}

#options {
    display: flex;
    padding: 5% 0;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}
.checkbox-container {
    display: flex;
    width: 80%;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;


}

#donatebutton{
    width: 30%

}


/* CSS BUTTON STYLE 1 ----------------------------------------------------------------------------------*/ 
.button-17 {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}

.button-17:hover {
  background: #F6F9FE;
  color: #174ea6;
}

.button-17:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.button-17:focus {
  outline: none;
  border: 2px solid #4285f4;
}

.button-17:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.button-17:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.button-17:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

/* ----------------------------------------------------------------------------------*/ 

/* CSS BUTTON STYLE 2------------------------------------------------------------------------------------------------------------ */
.button-74 {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 1px 1px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 12px;
  padding: 0 5px;
  line-height: 25px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-74:hover {
  background-color: #fff;
}

.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}
/* ----------------------------------------------------------------------------------*/ 